<h1>Students</h1>

<% @students.each do |student| %>
    <%= render partial: 'student', locals: {student: student} %>
<% end %><br>

<!-- the code below is obsolete. would've worked if it wasn't for those meddling test cases! -->
<!-- after further review, I believe the issue with the code below was the params was being sent to creat via the post method. Oops. -->

<!--<%= form_tag students_path do %> 
    Search for student(s): <%= text_field_tag :query %>
    <%= submit_tag "Search" %>
<% end %> -->

<%= form_tag students_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>